:root{
    --me-bg: #054640;
    --sender-bg: #212e36;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    user-select: none;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7));
}

.mobile-screen{
    background: url('https://i.pinimg.com/736x/85/04/30/850430a750fb80c1ebaa5e740fc7cbd6.jpg');
    background-size: cover;
    border-radius: 10px;
    min-height: 600px;
    min-width: 400px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    row-gap: 20px;
}

.me, .sender{
    min-height: 100px;
    max-height: 130px;
    height: 20vw;
    width: 60%;
    border-radius: 10px;
    position: relative;
}

.me{
    align-self: flex-end;
    background-color: var(--me-bg);
    border-bottom-right-radius: 0;
}

.sender{
    background-color: var(--sender-bg);
    border-bottom-left-radius: 0;
}

.react-cta{
    position: absolute;
    height: 25px;
    width: 25px;
    background: white;
    border-radius: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.react-cta .material-symbols-rounded{
    color: #525252;
    font-size: 18px;
}

.me .react-cta{
    left: 0;
    top: 50%;
    -webkit-transform: translate(-130%, -50%);
    -moz-transform: translate(-130%, -50%);
    transform: translate(-130%, -50%);
}

.sender .react-cta{
    right: 0;
    top: 50%;
    transform: translate(130%, -50%);
    -webkit-transform: translate(130%, -50%);
    -moz-transform: translate(130%, -50%);
}

.emojis-deck{
    position: absolute;
    background: var(--sender-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 15px;
    border-radius: 30px;
    top: 0;
    width: 230px;
    -webkit-max-height: 100px;
    -moz-max-height: 100px;
    max-height: 100px;
    -webkit-transform: translateY(-120%);
    -moz-transform: translateY(-120%);
    transform: translateY(-120%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding-block: 2px;
    overflow: hidden;
    -webkit-transition: 0.15s ease;
    -moz-transition: 0.15s ease;
    transition: 0.15s ease;
    opacity: 1;
}

.emojis-deck.close{
    width: 0;
    -webkit-max-height: 0;
    -moz-max-height: 0;
    max-height: 0;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    padding: 0;
    opacity: 0;
}

.emojis-deck div{
    padding-block: 10px;
    position: relative;
}

.emojis-deck img{
    width: 25px;
    z-index: 5;
    -webkit-transition: 0.1s ease;
    -moz-transition: 0.1s ease;
    transition: 0.1s ease;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}

.emojis-deck.close img{
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
}

.emojis-deck div::after{
    content: "";
    z-index: -1;
    height: 45px;
    width: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    -moz-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
    border-radius: 100%;
    background: #2c3c45;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    transition: 0.2s ease;
}

.emojis-deck div:hover::after, .emojis-deck div.active::after{
    -webkit-transform: translate(-50%, -54%) scale(1);
    -moz-transform: translate(-50%, -54%) scale(1);
    transform: translate(-50%, -54%) scale(1);
    opacity: 1;
}

.active-reaction{
    -webkit-transition: 0.1s ease;
    -moz-transition: 0.1s ease;
    transition: 0.1s ease;
    position: absolute;
    bottom: 0;
    -webkit-transform: translateY(50%) scale(0);
    -moz-transform: translateY(50%) scale(0);
    transform: translateY(50%) scale(0);
    padding: 4px 6px 0 6px;
    border-radius: 40%;
    background: #2c3c45;
    overflow: hidden;
    cursor: pointer;
}

.active-reaction.active{
    -webkit-transform: translateY(50%) scale(1);
    -moz-transform: translateY(50%) scale(1);
    transform: translateY(50%) scale(1);
}

.active-reaction img{
    width: 17px;
    -webkit-transition: 0.1s ease;
    -moz-transition: 0.1s ease;
    transition: 0.1s ease;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
}

.active-reaction.active img{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}

.active-reaction.active img.bump{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}

.me .active-reaction{
    right: 15%;
}

.sender .active-reaction{
    left: 15%;
}